spring:
  datasource:
    username: serverdbadmin
    password: 12345
    url: jdbc:mysql://localhost:3306/serverdb
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      dialect: org.hibernate.dialect.MySQL8Dialect
      format_sql: true
    show-sql: true
  profiles:
    active: dev
#  swagger:
#    enabled: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
---
springdoc:
  version: '@springdoc.version@'
  swagger-ui:
    path: /swagger
#---
#
#spring:
#  config:
#    activate:
#      on-profile: dev
#  springfox:
#    documentation:
#      swagger-ui:
#        enabled: true
#      openapi:
#        v3:
#          enabled: true
#      schemes:
#        - http
#        - https
---
#springdoc:
#  packagesToScan: package1, package2
#  pathsToMatch: /v1, /api/balance/**
#spring:
#  mvc:
#    pathmatch:
#      matching-strategy: ant_path_matcher
#spring:mvc.pathmatch.matching-strategy: ant_path_matcher
#spring:
#  datasource:
#    username: serverdbadmin
#    password: 12345
#    url: jdbc:mysql://localhost:3306/serverdb
#  jpa:
#    hibernate:
#      ddl-auto: create
#    properties:
#      dialect: org.hibernate.dialect.MySQL8Dialect
#      format_sql: true
#    show-sql: true